*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
section {
  padding: 50px 0;
}
.container, 
.products-container {
  padding: 30px 0;
  width: 80%;
  margin: 0 auto;
}
.header-wrapper {
  width: auto;
}
.gallery-container {
  padding: 0;
  width: 75%;
  margin: 0 auto;

}
.logo img {
  width: 130px;
}
li {
  list-style: none;
}
.desktop-nav li a {
  color: #303030;
  font-size: 14px;
  font-weight: 500;
}
.btn-primary{
  border: none;
  outline: none;
  padding: 14px 35px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 400;
}

.btn-contact {
  background-color: #303030;
  color: #fff !important;
}

.branding-title {
  color: #303030;
  width: 450px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 45px;
}
.btn-started {
  background-color: #1664a3;
  color: #fff;
}
.btn__contact {
  border: 1.6px solid #303030;
  color: #303030;
  font-weight: 600;
}
.plant-image {
  width: 8%;
}
.plant-image img {
  margin-left: 70px;
  margin-top: 16px;
}
.support {
  width: 18%;
  position: absolute;
  right: 290px;
  top: -20px;
}
.character {
  margin-left: -170px ;
}

.trash-bin {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: -100px;
}
.mission-image,
.vision-image {
  width: 40%;
}
.mission-image img,
.vision-image img {
  width: max-content;
}
.mission-text,
.vision-text {
  width: 50%;
}
.mission-title, 
.vision-title,
.about-title,
.solution-heading,
.product-text, 
.team-heading,
.card-name {
  color: #1664a3;
}
.mission-paragraph,
.vision-paragraph {
  width: 500px;
  font-weight: 500;
}
.about-paragraph {
  width: 880px;
  margin: 0 auto;
}
.products-services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
.team-wrapper {
  width: 100%;
  margin: 0 auto
}
.card {
  background-color: #fcfcfc;
  width: 22%;
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.card img {
  width: 40px;
  height: 40px;
}
.card-paragraph {
  width: 180px;
  font-size: 10px;
  padding-left: 10px;
  margin-top: 5px;
}
.reserve-wrapper{
  background: url('./assets/images/Path\ 1509.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  padding: 80px 30px;
}
.reserve-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn--contact {
  background-color: #fff;
  color: #1664a3;
  font-weight: 600;
}
.reserve-paragraph {
  width: 520px;
  font-size: 12px;
}
footer {
  margin-bottom: 15px;
}
.footer-contents li a {
  font-size: 11px;
  font-weight: 600;
}
.footer-logo {
  width: 100px;
}
.media-icons{
  margin-top: 10px;
}
.fab {
  color: #1664a3;
  width: 10px;
}
.media-wrapper {
  align-self: flex-end;
}
.banner {
  background: url('./assets/images/Mask\ Group\ 3.png');
  height: 40vh;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  background-repeat: no-repeat;
}
.about-paragraph {
  font-size: 12px;
  width: 800px;
  margin-top: 20px;
}

.solution-image {
  width: 45%;
}
.solution-text {
  width: 42%;
  margin-left: 40px;
  margin-top: 70px;
}
.solution-heading {
  width: 200px;
}
.solution-paragraph {
  margin-top: 20px;
  width: 290px;
}
.solution-images {
  width: 75%;
}
.img-1 {
  width: 25%;
  height: 27%;
}
.img-3 {
  width: 22%;
  height: 10%;
}
.img-2 {
  width: 37%;
  height: 50%;
}
.solution-images:nth-child(1) {
  position: relative;
  top: 4rem;
}
.solution-images:nth-child(2) {
  position: relative;
  top: 2rem;
}
.btn-reserve {
  margin-top: 30px;
}
.team-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-paragraph {
  width: 700px;
  margin-top: 10px;
}
.team-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
.card-holder {
  width: 26%;
  padding: 25px 20px;
}
.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-card img {
  width: 100%;
  height: 40vh;
  border-radius: 10px;
}

.about-icons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 10px;
}
.role {
  font-size: 10px;
  margin-top: 3px;
  font-weight: 500;
}
.active {
  font-weight: 700;
}
.contact-info {
  width: 32%;
}
.message {
  width: 40%;
}
.form-wrapper {
  background-color: #1664a3;
  padding: 12px 40px 50px 40px;
  border-radius: 10px;
  margin-top: 10px;
}
.form-input {
  display: flex;
  flex-direction: column;
}
::placeholder {
  font-size: 10px;
}
.contact-message{
  width: 100%;
  height: 20vh;
  resize: none;
  outline: none;
  border-radius: 5px;
  padding: 0 2px;
}
input {
  margin-bottom: 16px;
  padding: 5px 2px;
  outline: none;
  border-radius: 5px;
}
.submit-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  margin-top: 20px;
} 
.our-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery-list {
  display: flex;
  justify-content: space-between;
}
.gallery-list li {
  font-size: 12px;
  color: #303030;
  font-weight: 400;
}
.gallery-image {
  /* width: 18%; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 15px;
}
.gallery-image img {
  width: 26%;
  height: 45vh;
}
.pan-nigeria,
.chicken-republic,
.republic,
.nigeria-airlines {
  display: none;
}
.trigger {
  display: flex;
  justify-content: space-between;
  background-color: #1664a3;
  padding: 13px 10px;
  align-items: center;
  border-radius: 8px;
}
.trigger p {
  color: #fff;
}
.polygon {
  width: 15px;
  height: 9px;
}
.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 15px;
  transition: max-height 0.2s;
  overflow: hidden;
}
.content img {
  width: 24%;
}
.ctainer {
  padding-bottom: 10px;
}
.content[aria-hidden="false"] {
  max-height: var(--ctainerHeight, 1000px);
}
.content[aria-hidden="true"] {
  max-height: 0;
}
.hamburger {
  display: none;
}

































@media screen and (max-width: 768px) {
  .container,
  .products-container {
    width: 90%;
    padding: 20px 0;
    
  }
  section {
    padding: 10px 0;
  }
  .logo img {
    width: 60px;
  }
  .nav li a {
    font-size: 10px;
  }
  .hamburger {
    display: block;
  }
  .hamburger img {
    width: 40px;
    height:25px;
  }

  .nav-mob {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    top: 0;
    padding-top: 20px;
    z-index: 20;
}
.nav-mob ul {
  flex-direction: column;
  width: 100%;
}
.nav-mob ul li {
  margin-top: 50px; 
  font-size: 13px;
  color: #303030;
  font-weight: 500;
}
.header-wrapper {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 17px;
}
.close-btn img {
  width: 25px;
}
.plant-image {
  width: 15%;
}
.plant-image img {
  margin-left: 20px;
  margin-top: 23px;
}
.support {
  width: 22%;
  position: absolute;
  right: 75px;
  top: 41px;
}
.character {
  margin-left: -46px;
}

.trash-bin {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  right: -34px;
}

.btn-primary {
  padding: 10px 25px;
  font-size: 10px;
}
 .contactMob-wrapper {
  margin-top: 55px;
} 
.contact-mob {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 13px 60px;
}
.branding-title {
    width: 250px;
    font-size: 15px;
  }
  .branding-images {
    flex-direction: column;
  }
  .branding-btn {
    margin: 10px auto;
  }
  .mission-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .vision-wrapper {
    flex-direction: column-reverse;
    width: 100%;
  }
  .mission-image,
  .vision-image {
    width: 85%;
    margin: 0 auto;
  }
  
  .mission-text,
  .vision-text {
    width: 100%;
  }
  .mission-title,
  .vision-title {
  
    text-align: center;
  } 
  .mission-paragraph,
  .vision-paragraph{
    width: 320px;
    font-size: 14px;
    text-align: center;
  }

  .card {
    width: 42%;
    padding: 10px 15px;
    border-radius: 6px;
  }
  .card img {
    width: 20px;
    height: 20px;
  }
  .card-paragraph {
    width: 120px;
    font-size: 8px;
    font-weight: 600;
    text-align: center;
  }
  .reserve-wrapper {
    padding: 4px 15px 0px 15px;
    /* height: 60vh; */
    /* padding: 90px 30px; */
  }
  .reserve-content {
    padding: 5px 0 10px 0;
    
  }
  .reserve-title {
    font-size: 10px;
  }
  .btn-reserve {
    margin-top: 5px;
  }
  .reserve-paragraph {
    font-size: 7px;
    width: 200px;
  }
  .btn--contact {
    padding: 5px 15px;
  }
  .banner {
    height: 30vh;
  }
  .about-paragraph {
    font-weight: 600;
    text-align: center;
    width: 320px;
    font-size: 14px;
  }
  .solution-wrapper {
    flex-direction: column;
  }
  .solution-image,
  .solution-heading {
    width: 100%;
  }
  .solution-text {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
  }
  .solution-paragraph {
    width: 300px;
    font-size: 13px;
    margin-top: 10px;
  }
  .solution-images {
    width: 90%;
  }
  .img-1 {
    width: 30%;
  }
  .img-3 {
    width: 24%;
    height: 30%;
  }
  .img-2 {
    width: 39%;
    height: 20%;
  }
  .team-heading {
    font-size: 20px;
  }
  .team-paragraph {
    width: 300px;
    font-size: 13px;
  }
  .card-holder {
    width: 45%;
    padding: 10px 20px;
  }
  .team-card img {
    height: auto;
  }
  .card-holder h2 {
    font-size: 12px;
  }
  .role {
    font-size: 7px;
    font-weight: 600;
    margin-top: 0;
  }
  .about-icons {
    width: 60%;
    margin-top: 3px;
  }
  .work-title {
    font-size: 15px;
  }
  .work-paragraph {
    width: 300px;
    text-align: center;
  }
  .gallery-container {
    width: 90%;
  }
  .gallery-list li {
    font-size: 9px;
    font-weight: 500;
  }
  .gallery-image img {
    height: auto;
  }
  .contactInfo-wrapper {
    flex-direction: column;
  }
  .contact-info,
  .message {
    width: 100%;
  }
  .form-wrapper {
    padding: 10px 15px 22px 10px;
  }
  footer {
    margin-bottom: 20px;
  }
  .footer-contents li a {
    font-size: 10px;
  }
  .media-icons {
    margin: 20px 0;
  }







}