* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
section {
  padding: 30px 0;
}
.container,
.products-container {
  padding: 30px 0;
  width: 80%;
  margin: 0 auto;
}
.container-footer {
  width: 80%;
  padding: 0;
  margin: 0 auto;
}
.container-contact {
  width: 80%;
  padding: 30px 0 0 0;
  margin: 0 auto;
}
.header-wrapper {
  width: auto;
}
.gallery-container {
  padding: 0;
  width: 60%;
  margin: 3rem auto;
  position: relative;
  z-index: 10;
}
.logo img {
  width: 130px;
}
li {
  list-style: none;
}
.desktop-nav li a {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
}
.btn-primary {
  border: none;
  outline: none;
  padding: 14px 36px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
}

.btn-contact {
  background-color: #303030;
  color: #fff !important;
}
#active-1 {
  color: #303030;
  font-weight: 600;
}
/* .branding-images {

  position: relative;
  z-index: 25;
} */
.branding {
  margin-top: 2.5rem;
}

.branding-title {
  color: #303030;
  width: 450px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 45px;
}
.symbol-e {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.btn-started {
  background-color: #1664a3;
  color: #fff;
  border: 2px solid #1664a3;
}
.btn__contact {
  border: 2px solid #b6afaf;
  color: #303030;
  font-weight: 600;
}
.plant-image {
  width: 9%;
}
.plant-image img {
  margin-left: 70px;
  margin-top: -11px;
}
.support {
  width: 44%;
  position: absolute;
  right: 35px;
  top: -185px;
}


.middle-rectangle {
  width: 450px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 263px;
  z-index: -1;

}
.mission {
  z-index: 22;
}
.mission-image,
.vision-image {
  width: 40%;
}
.vision-image {
  margin-right: 6rem;
}
.mission-image img,
.vision-image img {
  width: max-content;
}
.mission-text,
.vision-text {
  width: 50%;
}
.mission-title,
.vision-title,
.about-title,
.solution-heading,
.product-text,
.team-heading,
.card-name {
  color: #1664a3;
  font-size: 2.5rem;
}
.mission-paragraph,
.vision-paragraph {
  width: 470px;
  font-weight: 500;
  font-size: 14px;
}
.text-wrapper {
  font-size: 14px;
  width: 760px;
  margin: 60px auto;

}
.about-paragraph {
  width: 800px;
  margin: 0 auto;
}
.products-services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.card {
  background-color: #fcfcfc;
  width: 22%;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.card img {
  width: 45px;
  height: 45px;
}
.card-paragraph {
  width: 200px;
  font-size: 11px;
  padding-left: 5px;
  margin-top: 8px;
  /* text-align: center; */
}
.card-title {
  margin-top: 10px;
  font-size: 18px;
}
.reserve-wrapper {
  background: url("./assets/images/Path\ 1509.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  padding: 80px 30px;
  width: 100%;
}
.reserve-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn--contact {
  background-color: #fff;
  color: #1664a3;
  font-weight: 600;
}
.reserve-paragraph {
  width: 520px;
  font-size: 12px;
}
/* footer {
  margin-bottom: 15px;
} */
.footer-contents li a {
 font-size: 14px;
 font-weight: 600;
 color: #303030;

}
/* footer li {
  margin-top: 1rem;
} */
.footer-logo {
  width: 100px;
}
.footer-container {
  margin-top: 5rem;
}
.copyright {
  font-size: 12px;
  color: #303030;
  background-color: #f9f9f9;

}
.media-icons {
  margin-top: 10px;
}
.fab {
  color: #1664a3;
  width: 10px;
}
.media-wrapper {
  margin-top: 7rem;
}
.banner {
  background: url("./assets/images/Mask\ Group\ 3.png");
  height: 40vh;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  background-repeat: no-repeat;
  margin-top: 20px;
}
/* .left-rectangle,
.right-rectangle {
  width: 60px;
} */
.left-rectangle {
  height: 50px;
  position: absolute;
  left: -550px;
  top: 53px;
}
.right-rectangle {
  height: 50px;
  position: absolute;
  right: -553px;
  top: 54px;
}
.about-paragraph {
  position: relative;
  font-size: 14px;
  width: 850px;
  margin-top: 20px;
}
.solution {
  position: relative;
  z-index: 10;
}

.solution-image {
  width: 45%;
}
.solution-text {
  width: 42%;
  margin-left: 40px;
  margin-top: 70px;
}
.solution-heading {
  width: 360px;
  font-size: 40px;
  line-height: 40px;
}
.solution-paragraph {
  margin-top: 20px;
  width: 329px;
  font-size: 14px;
}
.solution-images {
  width: 90%;
}
.img-1 {
  width: 27%;
  height: 27%;
}
.img-3 {
  width: 23%;
  height: 40vh;
}
.img-2 {
  width: 39%;
  height: 50vh;
  position: relative;
  z-index: 20;
}
.solution-images img:nth-child(2) {
  position: relative;
  top: 2rem;
}
.solution-images img:nth-child(3) {
  position: relative;
  top: 24px;
  z-index: 1;
}
.btn-reserve {
  margin-top: 30px;
}

.team {
  margin-top: 5rem;
}

.team-wrapper {
  width: 80%;
  margin: 0 auto;
}
.team-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-paragraph {
  width: 700px;
  margin-top: 10px;
  font-size: 14px;
}
.team-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.card-holder {
  position: relative;
  z-index: 10;
  width: 30%;
  padding: 25px 30px;
  background-color: #fff;
  border-radius: 5px;
}
.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-card img {
  width: 100%;
  height: 28vh;
  border-radius: 7px;
}
.card-name {
  font-size: 20px;
}
.about-icons {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-top: 10px;
}
.role {
  font-size: 10px;
  margin-top: 3px;
  font-weight: 600;
}
.active {
  font-weight: 700;
}
.contact-info {
  width: 40%;
  margin-top: 10px;
}
.heading-one,
.heading-two,
.heading-three {
  font-size: 18px;
  color: #303030;
}
.head-paragraph {
  font-size: 14px;
  width: 320px;
}
.message {
  width: 40%;

}
.contact-title,
.message-title {
  font-size: 30px;
  color: #303030;
}
.form-wrapper {
  background-color: #1664a3;
  padding: 20px 40px 50px 40px;
  border-radius: 7px;
  margin-top: 10px;
  /* box-shadow: -20px 26px 30px rgba(22, 27, 45, 0.04); */
  box-shadow: 0px 24px 64px rgba(22, 27, 45, 0.04);


}
.form-input {
  display: flex;
  flex-direction: column;
}
::placeholder {
  font-size: 10px;
}
.contact-message {
  width: 100%;
  height: 20vh;
  resize: none;
  outline: none;
  border-radius: 2px;
  padding: 5px 12px;
}
input {
  margin-bottom: 16px;
  padding: 5px 12px;
  outline: none;
  border-radius: 3px;
}
.submit-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.our-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery-list {
  display: flex;
  justify-content: space-between;
}
.list-title {
  font-size: 14px;
  color: #707070;
  font-weight: 600;
  margin-bottom: 3rem;
}
/* .list-title.is-active {
  background-color: red;
}  */

.list-title::after {
  content: "";
  width: 0;
  display: block;
  height: 3px;
  background-color: #1664a3;
  margin-top: 2px;
  /*transition: width 5s;*/
}

.list-title.is-active {
  color: #1664a3;
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

.list-title:hover::after {
  width: 100%;
}
.gallery-image {
  display: none;
}

.gallery-image.is-open {
  /* width: 18%; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery-image img {
  margin-bottom: 20px;
  width: 30%;
  height: 44vh;
}
.gallery-image img:nth-child(2),
.gallery-image img:nth-child(5),
.gallery-image img:nth-child(8) {
  position: relative;
  bottom: 40px;
}
.work-title {
  font-size: 3rem;
  color: #303030;
  font-weight: 600;
}
.work-paragraph {
  font-size: 14px;
}

/* .pan-nigeria,
.chicken-republic,
.republic,
.nigeria-airlines {
  display: none;
} */
/* .list-title .active {
  background-color: #ccc;
} */

/* .galleryImage-wrapper:nth-child(1) {
  display: flex;
} */
.trigger {
  display: flex;
  justify-content: space-between;
  background-color: #1664a3;
  padding: 13px 10px;
  align-items: center;
  border-radius: 4px;
}
.trigger p {
  color: #fff;
}
.polygon {
  width: 15px;
  height: 9px;
}
.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 15px;
  transition: max-height 0.2s;
  overflow: hidden;
}
.content img {
  width: 24%;
}
.ctainer {
  padding-bottom: 10px;
  position: relative;
  z-index: 10;
}
.content[aria-hidden="false"] {
  max-height: var(--ctainerHeight, 1000px);
}
.content[aria-hidden="true"] {
  max-height: 0;
}
.hamburger {
  display: none;
}
.ellipse-one {
  width: 300px;
  height: 300px;
  position: absolute;
  right: -271px;
  top: -164px;
  z-index: -1;
}
.ellipse-two {
  width: 350px;
  position: absolute;
  left: -160px;
  top: 20px;
}
.ellipse-three {
  position: absolute;
  width: 500px;
  z-index: -1;
  right: -218px;
  top: 82px;
}
.ellipse-four {
  position: absolute;
  left: -66px;
  top: 4px;
}
.ellipse-five {
  position: absolute;
  width: 600px;
  right: -476px;
  top: -222px;
}
.ellipse-six {
  position: absolute;
  width: 220px;
  left: -149px;
  top: 300px;
}
.ellipse-seven {
  position: absolute;
  width: 560px;
  z-index: -1;
  right: -190px;
  top: -9px;
}
.ellipse-eight {
  width: 170px;
  height: 170px;
  position: absolute;
  top: -100px;
  z-index: 10;
  left: 278px;
}
.footer-ellipse {
  position: absolute;
  left: -107px;
  top: 89px;
  width: 150px;
  height: 150px;
}
.ellipse-nine {
  position: absolute;
  width: 320px;
  height: 320px;
  left: -222px;
  top: -9px;
}
.ellipse-ten {
  position: absolute;
  width: 450px;
    /* height: 470px; */
    right: -244px;
    top: 370px;
}
.gallery-ellipse {
  position: absolute;
  width: 650px;
  height: 650px;
  right: -520px;
  top: 50px;
  z-index: -1;
}
.ellipse-ronches {
  position: absolute;
  width: 400px;
  height: 400px;
  left: -346px;
  top: -182px;
  z-index: -1;
}
.ellipse-contact {
  position: absolute;
  width: 340px;
  height: 340px;
  z-index: -1;
  left: -120px;
  top: 84px;
}
.ellipse-message {
  width: 470px;
  height: 470px;
  position: absolute;
  right: -128px;
  z-index: -1;
  bottom: -222px;
}
.union-three {
  position: absolute;
  right: -256px;
  top: 292px;
  width: 370px;
  z-index: 20;
}
.union-two {
  width: 470px;
  position: absolute;
  left: -96px;
  top: 305px;
}
.footer-contents li {
  margin-top: 10px;
}
.footer-contact {
  margin-top: 4rem;
}




@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    padding: 10px 0;
  }
  .products-container {
    width: 90%;
  }
  section {
    padding: 10px 0;
  }
  .logo img {
    width: 60px;
  }
  .nav li a {
    font-size: 10px;
  }
  .hamburger {
    display: block;
  }
  .hamburger img {
    width: 40px;
    height: 25px;
  }
  .nav-mob {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    top: 0;
    padding-top: 20px;
    z-index: 22;
  }
  .nav-mob ul {
    flex-direction: column;
    width: 100%;
  }
  .nav-mob ul li {
    margin-top: 50px;
    font-size: 14px;
    color: #707070;
    font-weight: 500;
  }
  .header-wrapper {
    width: 100%;
  }
  .contact-heading {
    margin-top: 5px;
  }
  .close-btn {
    position: absolute;
    right: 17px;
  }
  .close-btn img {
    width: 25px;
    margin-top: -10px;
    margin-right: 3px;

  }
  .plant-image {
    width: 15%;
  }
  .plant-image img {
    margin-left: 20px;
    margin-top: 23px;
  }
  .support {
    width: 55%;
    position: absolute;
    right: 16px;
    top: -22px;
  }
  .btn-primary {
    padding: 10px 27px;
    font-size: 12px;
  }
  .contactMob-wrapper {
    margin-top: 55px;
  }
  .contact-mob {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 13px 60px;
  }
  .branding {
    margin-top: 0;
  }
  .branding-paragraph {
    font-size: 11px;
  }
  .branding-title {
    width: 250px;
    font-size: 25px;
    line-height: 27px;
  }
  .branding-images {
    flex-direction: column;
  }
  .branding-btn {
    margin: 1.5rem auto;
  }
  .mission-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .vision-wrapper {
    flex-direction: column-reverse;
    width: 100%;
  }
  .mission-image,
  .vision-image {
    width: 85%;
    margin: 0 auto;
  }
  .mission-text,
  .vision-text {
    width: 100%;
  }
  .mission-title,
  .vision-title,
  .about-title,
  .product-text {
    text-align: center;
    font-size: 1.5rem;
  }
  .mission-paragraph,
  .vision-paragraph {
    width: 100%;
    font-size: 14px;
    text-align: left;
  }
  .text-wrapper {
    width: 100%;
    text-align: left;
    margin: 0 auto;
  }
  .products-services {
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  .card {
    width: 70%;
    padding: 10px 15px;
    border-radius: 5px;
  }
  .card img {
    width: 25px;
    height: 25px;
  }
  .card-paragraph {
    width: 160px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
  }
  .reserve-wrapper {
    padding: 4px 15px 0px 15px;
    /* height: 60vh; */
    /* padding: 90px 30px; */
  }
  .reserve-content {
    padding: 5px 0 10px 0;
  }
  .reserve-title {
    font-size: 10px;
  }
  .btn-reserve {
    margin-top: 5px;
  }
  .reserve-paragraph {
    font-size: 7px;
    width: 200px;
  }
  .btn--contact {
    padding: 5px 10px;
    font-size: 10px;
  }
  .banner {
    height: 30vh;
    margin-top: 0;
  }
  .about-paragraph {
    font-weight: 600;
    text-align: left;
    width: 100%;
    font-size: 14px;
  }
  .solution-wrapper {
    flex-direction: column;
  }
  .solution-image {
    width: 100%;
  }
  .solution-heading {
    font-size: 20px;
    width: 100%;
  }
  .solution-text {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
  }
  .solution-paragraph {
    width: 300px;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    margin: 0 auto;
  }
  .solution-images {
    width: 95%;
    margin-top: 1.5rem;
  }
  .img-1 {
    width: 33%;
    height: 20vh;
  }
  .img-3 {
    width: 29%;
    height: 16vh;
  }
  .img-2 {
    width: 32%;
    height: 16vh;
    margin-top: -31px;
  }
  .solution-images img:nth-child(2) {
    position: relative;
    top: -5px;
  }
  .solution-images img:nth-child(3) {
    position: relative;
    top: -1rem;
  }
  .team {
    margin-top: 0;
  }
  .team-heading {
    font-size: 20px;
  }
  .team-paragraph {
    width: 300px;
    font-size: 14px;
    text-align: left;
  }
  .card-holder {
    width: 70%;
    padding: 10px 20px;
    margin: 0 auto;
  }
  .team-card img {
    height: 20vh;
    border-radius: 4px;
  }
  .card-name {
    font-size: 16px;
    margin-top: 4px;
  }
  .role {
    font-size: 10px;
    font-weight: 600;
    margin-top: 0;
  }
  .about-icons {
    width: 40%;
    margin-top: 3px;
  }
  .work-title {
    color: #303030;
    font-size: 2rem;
  }
  .work-paragraph {
    width: 90%;
    text-align: center;
  }
  .gallery-container {
    width: 90%;
  }
  .list-wrapper {
    width: 100%;
  }
  .list-title {
    font-size: 8px;
    font-weight: 500;
  }

  .list-title::after {
    content: "";
    width: 0;
    display: block;
    height: 2px;
    background-color: #1664a3;
    margin-top: 2px;
  }
  .list-title:hover {
    color: #1664a3;
    transform: scale(1.2, 1.2);
  }
  .list-title:hover::after {
    width: 100%;
  }
  .gallery-image img {
    height: auto;
  }
  .contactInfo-wrapper {
    flex-direction: column-reverse;
  }
  .contact-info {
    width: 100%;
    margin-top: 40px;
  }
  .message {
    width: 100%;
  }
  .form-wrapper {
    padding: 10px 15px 22px 10px;
  }
  .footer-contents li a {
    font-size: 10px;
  }
  .copyright {
    font-size: 8px;
    font-weight: 700;
  }
  .media-icons {
    margin: 20px 0;
  }
  .ellipse-one,
  .ellipse-two,
  .ellipse-three,
  .ellipse-four,
  .ellipse-five,
  .ellipse-six,
  .ellipse-seven,
  .ellipse-eight,
  .ellipse-nine,
  .ellipse-ten,
  .gallery-ellipse,
  .ellipse-contact,
  .ellipse-ronches,
  .footer-ellipse,
  .ellipse-message,
  .left-rectangle,
  .right-rectangle,
  .union-three,
  .middle-rectangle {
    display: none;
  }
}

